:root {
    --sm: 2.0rem;
    --md: 2.6rem;
    --lg: 3.2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}
h1 {
    font-size: var(--lg);
}
h2 {
    font-family: 'Nanum Pen Script', cursive;
    font-size: var(--md);
}