// ██╗███╗   ██╗██████╗ ███████╗██╗  ██╗
// ██║████╗  ██║██╔══██╗██╔════╝╚██╗██╔╝
// ██║██╔██╗ ██║██║  ██║█████╗   ╚███╔╝ 
// ██║██║╚██╗██║██║  ██║██╔══╝   ██╔██╗ 
// ██║██║ ╚████║██████╔╝███████╗██╔╝ ██╗
// ╚═╝╚═╝  ╚═══╝╚═════╝ ╚══════╝╚═╝  ╚═╝

$primary-font:'Poppins', sans-serif;
$variation-font: 'Nanum Pen Script', cursive;
$primary-color: #d6f3ff;
$secondary-color: #FFEE59;
$light-color: #ffffff;
$dark-color: #141414;
$variation-color: #192C34;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.small__icon {
  width: 30px;
  height: 30px;
}
.medium__icon {
  width: 50px;
  height: 50px;
}
.big__icon {
  width: 70px;
  height: 70px;
}

.header {
  width: 100%;
  height: 100px;
  background-color: $light-color;
}

.main {
  font-family: $primary-font;
  color: $light-color;
  background-color: $variation-color;
  h1, h2, h3, h4 {
    text-transform: uppercase;
    color: $primary-color;
  }
}
.footer {
  width: 100%;
  height: 100px;
  background-color: $secondary-color;
}