//- ██████╗ ██╗███████╗ ██████╗ ██████╗ ██╗   ██╗███╗   ██╗████████╗███████╗
//- ██╔══██╗██║██╔════╝██╔════╝██╔═══██╗██║   ██║████╗  ██║╚══██╔══╝██╔════╝
//- ██║  ██║██║███████╗██║     ██║   ██║██║   ██║██╔██╗ ██║   ██║   ███████╗
//- ██║  ██║██║╚════██║██║     ██║   ██║██║   ██║██║╚██╗██║   ██║   ╚════██║
//- ██████╔╝██║███████║╚██████╗╚██████╔╝╚██████╔╝██║ ╚████║   ██║   ███████║
//- ╚═════╝ ╚═╝╚══════╝ ╚═════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝

section.section.discounts#discounts-container
	h2.section__subtitle.discounts__title Precios y descuentos
	p.discounts__description Calcula el #[strong descuento] de tus productos.
	+discount-price-box
	p.discounts__description Averigua el precio con descuento del producto aplicando el #[strong código].
	+discount-cupon-box