//- ███████╗██╗  ██╗ █████╗ ██████╗ ███████╗███████╗
//- ██╔════╝██║  ██║██╔══██╗██╔══██╗██╔════╝██╔════╝
//- ███████╗███████║███████║██████╔╝█████╗  ███████╗
//- ╚════██║██╔══██║██╔══██║██╔═══╝ ██╔══╝  ╚════██║
//- ███████║██║  ██║██║  ██║██║     ███████╗███████║
//- ╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚══════╝╚══════╝

section.sections.shapes#shapes-container
	h2.sections__subtitle.shapes__title Figuras geométricas
	p.sections__description.shapes__description Calcula el #[strong perimetro, area, altura, diagonal] y #[strong circunferencia] de las figuras.
	.shapes__container.shape
		+shape-box("Cuadrado", "square")
		+shape-box("Rectángulo", "rectangle")
		+shape-box("Triángulo", "triangle")
		+shape-box("Rombo", "diamond")
		+shape-box("Circulo", "circle")