//- ██████╗ ██╗███████╗ ██████╗ ██████╗ ██╗   ██╗███╗   ██╗████████╗███████╗
//- ██╔══██╗██║██╔════╝██╔════╝██╔═══██╗██║   ██║████╗  ██║╚══██╔══╝██╔════╝
//- ██║  ██║██║███████╗██║     ██║   ██║██║   ██║██╔██╗ ██║   ██║   ███████╗
//- ██║  ██║██║╚════██║██║     ██║   ██║██║   ██║██║╚██╗██║   ██║   ╚════██║
//- ██████╔╝██║███████║╚██████╗╚██████╔╝╚██████╔╝██║ ╚████║   ██║   ███████║
//- ╚═════╝ ╚═╝╚══════╝ ╚═════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝

section.discounts#discounts-container
	h2.discounts__title Precios y descuentos
	p.discounts__description Calcula #[strong descuentos] e ingresa un #[strong codigo] para para aplicar el descuento al producto.
	+discount-price-box
	+discount-cupon-box