section.menu-container
	h1.title Math web site
	+themes-list
	p.description Este proyecto fue diseñado y desarrollado por #[strong: a(href="https://github.com/luisAriza/project_math_webSite" target="_blank") Luis Ariza] utilizando las siguientes tecnologías:
	+technologies-list