//- ███████╗████████╗ █████╗ ████████╗██╗███████╗████████╗██╗ ██████╗███████╗
//- ██╔════╝╚══██╔══╝██╔══██╗╚══██╔══╝██║██╔════╝╚══██╔══╝██║██╔════╝██╔════╝
//- ███████╗   ██║   ███████║   ██║   ██║███████╗   ██║   ██║██║     ███████╗
//- ╚════██║   ██║   ██╔══██║   ██║   ██║╚════██║   ██║   ██║██║     ╚════██║
//- ███████║   ██║   ██║  ██║   ██║   ██║███████║   ██║   ██║╚██████╗███████║
//- ╚══════╝   ╚═╝   ╚═╝  ╚═╝   ╚═╝   ╚═╝╚══════╝   ╚═╝   ╚═╝ ╚═════╝╚══════╝

section#statistics-container
	h2.subtitle Estadística
	p.description Calcula el #[strong promedio], #[strong mediana] y #[strong moda] de una lista.
	+statistic-box