/* :root {
    --sm: 2.0rem;
    --md: 2.6rem;
    --lg: 3.2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Nanum Pen Script', cursive;
}
h1 {
    font-size: var(--lg);
}
p {
    font-size: var(--sm);
}
h2 {
    font-size: var(--md);
}
label {
    font-size: var(--sm);
} */