
//  ██████╗ ██╗   ██╗████████╗████████╗ ██████╗ ███╗   ██╗███████╗
//  ██╔══██╗██║   ██║╚══██╔══╝╚══██╔══╝██╔═══██╗████╗  ██║██╔════╝
//  ██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔██╗ ██║███████╗
//  ██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╗██║╚════██║
//  ██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚████║███████║
//  ╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝  ╚═══╝╚══════╝

.button {
	width: 100%;
	padding: unit(1) 0;
	font-family: $body-font;
	color: $dark-color;
	background-color: $primary-color;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: unit(3);
	box-shadow: 2px 8px 4px get-opacity($shadow-form-color, 1);
	@include text (16px, 700);
	// &:hover {
	// 	box-shadow: 2px 2px 4px get-opacity($shadow-form-color, 1), -1px -1px 4px get-opacity($variation-color, 1);
	// }
	&:active {
		box-shadow: inset 2px 2px 4px get-opacity($shadow-form-color, 1), inset -1px -1px 8px get-opacity($variation-color, 1);
	}
	&__container {
		display: flex;
		justify-content: center;
		gap: unit(2);
	}
	&--insert {
		width: 40%;
		color: $light-color;
		background-color: $in-color;
		@extend .button;
	}
	&--remove {
		background-color: $out-color;
		@extend .button--insert;
	}
}
