
//   ██████╗ █████╗ ██████╗ ██████╗ ███████╗
//  ██╔════╝██╔══██╗██╔══██╗██╔══██╗██╔════╝
//  ██║     ███████║██████╔╝██║  ██║███████╗
//  ██║     ██╔══██║██╔══██╗██║  ██║╚════██║
//  ╚██████╗██║  ██║██║  ██║██████╔╝███████║
//   ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝ ╚══════╝

.card {
	display: flex;
	flex-direction: column;
	width: calc( 100vw - ($PD-body * 2) );
	max-width: 428px;
	padding: unit(4) unit(2) unit(5);
	background-color: $secondary-color;
	border-radius: unit(2);
	box-shadow: 4px 8px 4px get-opacity($dark-color, .8);
	@include text(13px, 400);
	@include media(tablet) {
		margin: 0 auto;
		width: calc( 100vw - ($PD-BD-tablet * 4) );
		max-width: 991px;
	}
	&__description {
		display: inline-block;
		margin-top: unit(2);
		margin-bottom: unit(1);
	}
	&__info {
		margin-left: unit(3);
		margin-bottom: unit(2);
	}
	&__data {
		font-size: 16px;
		text-align: center;
		margin-bottom: unit(1);
		font-weight: 700;
	}
	&__results {
		display: grid;
		grid-auto-flow: column;
		text-align: center;
		list-style: none;
		@include text(16px, 400);
	}
	&__results span {
		@include text(13px, 400);
	}
	&__results--triangle {
		grid-template-columns: repeat(3, auto);
		grid-template-rows: repeat(2, auto);
		@extend .card__results
	}
	&__results--triangle li:nth-child(1) {
		grid-column: 1 / 4;
		margin-bottom: unit(3);
	}
}

.card__product {
	display: flex;
	flex-direction: column;
	&--image {
		width: calc( 100vw - ($PD-body * 2) );
		max-width: 428px;
		height: 220px;
		margin-top: unit(2);
		position: relative;
		left: calc(-1 * unit(2));
		background: url("../assets/images/fender-stratocaster-guitar.jpg") no-repeat;
		background-size: cover;
		background-position: center;
	}
	&--title {
		margin-top: unit(1);
		@include text(16px, 700);
	}
	&--price {
		margin-bottom: unit(.5);
		@include text(28px, 300);
	}
	&--price-discount {
		@include text(16px, 300);
		@extend .card__product--price;
	}
	&--price-discount span, &--price span {
		@include text(16px, 300);
	}
	&--description {
		margin-bottom: unit(1.5);
	}
	&--validation {
		text-align: center;
		color: $variation-color;
		@include text(16px, 600);
	}
}