
//  ███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
//  ██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
//  █████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
//  ██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
//  ██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
//  ╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

.footer {
	display: flex;
	place-content: center;
	width: 100vw;
	height: 64px;
	padding: 12px 0;
	background-color: $light-color;
	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
}