
//   ██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗     ███████╗
//  ██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║     ██╔════╝
//  ██║  ███╗██║     ██║   ██║██████╔╝███████║██║     ███████╗
//  ██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║     ╚════██║
//  ╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗███████║
//   ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝

// Estructura de bloque

// Display
// Medidas
// Modelo de caja
// Posición
// Tipografía
// Decoración
// Variables
// Extends
// Mixins

// Mixins para tamaño, estilos y valores numéricos de fuentes.

$head-font: 'Poppins', sans-serif;
$body-font: 'Raleway', sans-serif;

$primary-color: #FFEE59;
$secondary-color: #42819B;
$in-color: #5EBF79;
$out-color: #DA5454;
$light-color: #FFFFFF;
$dark-color: #1B1B1B;
$input-color: #5AA4C4;
$border-line-color: #32444D;
$background-color: #192C34;
$shadow-form-color:#2C5A6C;
$variation-color: #D6F2FC;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	min-width: 320px;
	max-width: 428px;
	font-family: $body-font;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .46px;
	line-height: 140%;
	color: $light-color;
	background-color: $background-color;
	.header {
		@extend .main;
	}
	.main {
		padding-left: 20px;
		padding-right: 20px;
	}
	.theme__bar {
		@extend .main;
	}
	.footer {
		@extend .main;
	}
}
