
//   ██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗     ███████╗
//  ██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║     ██╔════╝
//  ██║  ███╗██║     ██║   ██║██████╔╝███████║██║     ███████╗
//  ██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║     ╚════██║
//  ╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗███████║
//   ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝

// Estructura de bloque

// Display
// Medidas
// Modelo de caja
// Posición
// Tipografía
// Decoración
// Variables
// Mixins

// Mixins para tamaño, estilos y valores numéricos de fuentes.

$primary-font:'Poppins', sans-serif;
$variation-font: 'Nanum Pen Script', cursive;

$primary-color: #FFEE59;
$secondary-color: #42819B;
$in-color: #5EBF79;
$out-color: #DA5454;
$light-color: #FFFFFF;
$dark-color: #1B1B1B;
$input-color: #5AA4C4;
$border-line-color: #32444D;
$background-color: #192C34;
$shadow-form-color:#2C5A6C;
$variation-color: #E3F7FF;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	min-width: 320px;
	max-width: 428px;
	font-family: $primary-font;
	line-height: 150%;
	color: $light-color;
	background-color: $background-color;
	.header {
		@extend .main;
	}
	.main {
		padding-left: 20px;
		padding-right: 20px;
	}
	.theme__bar {
		@extend .main;
	}
	.footer {
		@extend .main;
	}
}

.section {
	padding-top: 32px;
	padding-bottom: 48px;
	&__title {
		width: 160px;
		margin: 0 auto;
		text-align: center;
		font-size: 32px;
		font-weight: bold;
		line-height: 120%;
		text-transform: uppercase;
		text-shadow: 4px 4px 4px $dark-color;
	}
	&__subtitle {
		width: 200px;
		margin: 0 auto;
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		line-height: 120%;
		text-transform: uppercase;
		text-shadow: 4px 4px 4px $dark-color;
	}
}

