
//  ██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
//  ██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
//  ███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
//  ██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
//  ██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
//  ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	height: unit(9);
	padding-top: unit(1);
	padding-bottom: unit(1);
	background-color: $background-color;
	@include media(tablet) {
		height: unit(10);
	}
	@include media(desktop-s) {
		height: unit(12);
	}
	&__logo {
		display: flex;
		align-items: center;
		justify-content: right;
		width: 50%;
		@include media(desktop-s) {
			padding-right: $PD-landscape;
		}
	}
}
