
//  ██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
//  ██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
//  ███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
//  ██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
//  ██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
//  ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝

.header {
	width: 100vw;
	height: 50px;
	background-color: $light-color;
	&__navbar {
		display: none;
	}
}
