
//  ███╗   ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗ 
//  ████╗  ██║██╔══██╗██║   ██║██╔══██╗██╔══██╗██╔══██╗
//  ██╔██╗ ██║███████║██║   ██║██████╔╝███████║██████╔╝
//  ██║╚██╗██║██╔══██║╚██╗ ██╔╝██╔══██╗██╔══██║██╔══██╗
//  ██║ ╚████║██║  ██║ ╚████╔╝ ██████╔╝██║  ██║██║  ██║
//  ╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

#navbar {
	display: flex;
	justify-content: left;
	width: 50%;
	position: relative;
	&__menuToggle {
		display: block;
		position: relative;
		z-index: 1;
	}
	&__menuToggle {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	&__menuToggle input {
		display: block;
		width: 40px;
		height: 34px;
		position: absolute;
		top: -6px;
		right: -4px;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
	}
	&__menuToggle span {
		display: block;
		width: 33.3px;
		height: 4px;
		position: relative;
		border-radius: 4px;
		z-index: 1;
		background: $light-color;
		box-shadow: 1px 2px 4px $dark-color;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
								background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
								opacity 0.55s ease;
	}
	&__menuToggle a {
		text-decoration: none;
		color: $dark-color;
		transition-delay: 0.4s;
	}
	&__menuToggle a:hover {
		color: $out-color;
	}
	&__menu {
		position: absolute;
		margin-top: -25px;
		margin-left: calc(-1 * $PD-body);
		width: 100vw;
		padding-top: 71px;
		background: $light-color;
		list-style-type: none;
		transform-origin: 0% 0%;
		transform: translate(-100%, 0);
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
		box-shadow: 0px 2px 15px get-opacity($dark-color, .5);
		@include media(landscape) {
			margin-left: calc(-1 * $PD-landscape);
		}
	}
	&__menu a {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: unit(2);
		padding-left: calc($PD-body * 1.5);
		@include media(landscape) {
			padding-left: calc($PD-landscape * 1.5);
		}
	}
	&__menu a:first-child {
		padding-top: unit(3);
		border-top: 1px solid get-opacity($border-line-color, .33);
	}
	&__menu li {
		padding: unit(2) 0;
		@include text(20px, 700);
		@include media(tablet) {
			padding: unit(2.5) 0;
		}
	}
}