
//  ███████╗ ██████╗██████╗  ██████╗ ██╗     ██╗     ███████╗
//  ██╔════╝██╔════╝██╔══██╗██╔═══██╗██║     ██║     ██╔════╝
//  ███████╗██║     ██████╔╝██║   ██║██║     ██║     ███████╗
//  ╚════██║██║     ██╔══██╗██║   ██║██║     ██║     ╚════██║
//  ███████║╚██████╗██║  ██║╚██████╔╝███████╗███████╗███████║
//  ╚══════╝ ╚═════╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚══════╝╚══════╝

.cards__container {
	display: grid;
	grid-auto-flow: column;
	gap: unit(3);
	padding-bottom: unit(3);
	align-items: center;
	overflow-x: scroll;
	scroll-behavior: smooth;
	overscroll-behavior-x: contain;
	scroll-snap-type: both mandatory;
	& .card {
		scroll-snap-align: center;
		@include media(landscape) {
			max-width: 767px;
		}
		@include media(tablet) {
			max-width: 991px;
		}
	}
// 	&::-webkit-scrollbar {
// 		-webkit-appearance: none;
// 	}
}

#data {
	margin: 0;
	@include text(16px, 300);
	overflow-x: scroll;
	@include media(tablet) {
		@include text(18px, 300);
	}
	&::-webkit-scrollbar {
		-webkit-appearance: none;
	}
}
