
//  ███████╗███████╗ ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗
//  ██╔════╝██╔════╝██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝
//  ███████╗█████╗  ██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗
//  ╚════██║██╔══╝  ██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║
//  ███████║███████╗╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║
//  ╚══════╝╚══════╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

.sections {
	padding-top: unit(6);
	padding-bottom: unit(8);
	@include media(tablet) {
		padding-top: unit(8);
		padding-bottom: unit(10);
	}
	&__description {
		display: inline-block;
		margin-top: unit(3);
		margin-bottom: unit(2);
		@include media(tablet) {
			margin-top: unit(4);
			margin-bottom: unit(3);
		}
	}
	&__description a {
		color: $variation-color;
		font-weight: bold;
	}
	&__description a:active {
		color: $out-color;
		text-decoration: none;
	}
}

.menu {
	&__source {
		display: flex;
		flex-direction: column;
		gap: unit(1.5);
		padding-left: unit(4);
		@include media(tablet) {
			gap: unit(2);
			padding-left: unit(5);
		}
	}
	&__source a {
		color: $variation-color;
		font-weight: bold;
	}
	&__source a:active {
		color: $out-color;
		text-decoration: none;
	}
	&__technologies {
		display: grid;
		grid-template-columns: repeat(5, auto);
		grid-template-rows: repeat(2, auto);
		gap: unit(2.5);
		justify-content: center;
		width: 100vw;
		margin-top: unit(1);
		position: relative;
		left: calc(-1 * $PD-body);
		@include media(tablet) {
			gap: unit(5);
			left: calc(-1 * $PD-BD-tablet);
		}
	}
}
