
//  ███████╗███████╗ ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗
//  ██╔════╝██╔════╝██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝
//  ███████╗█████╗  ██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗
//  ╚════██║██╔══╝  ██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║
//  ███████║███████╗╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║
//  ╚══════╝╚══════╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

.sections {
	margin-bottom: unit(5);
	padding-bottom: unit(8);
	@include media(tablet) {
		padding-bottom: unit(10);
	}
	@include media(desktop-s) {
		border: 1px solid $border-line-color;
		border-radius: unit(1);
		overflow: hidden;
	}
	&__description {
		display: inline-block;
		margin-top: unit(3);
		margin-bottom: unit(2);
		@include media(tablet) {
			margin-top: unit(4);
			margin-bottom: unit(3);
		}
		@include media(desktop-s) {
			display: block;
			margin-top: unit(5);
			margin-bottom: unit(4);
			text-align: center;
		}
	}
	&__description a {
		color: $variation-color;
		font-weight: bold;
	}
	&__description a:active {
		color: $out-color;
		text-decoration: none;
	}
}

.menu {
	&__description {
		@include media(desktop-s) {
			display: none;
		}
	}
	&__source {
		display: flex;
		flex-direction: column;
		gap: unit(1.5);
		padding-left: unit(4);
		@include media(tablet) {
			gap: unit(2);
			padding-left: unit(5);
		}
		@include media(desktop-s) {
			display: none;
		}
	}
	&__source a {
		color: $variation-color;
		font-weight: bold;
	}
	&__source a:active {
		color: $out-color;
		text-decoration: none;
	}
	&__title-technologies {
		margin: 52px 0 40px;
		font-size: 24px;
	}
	&__technologies {
		display: grid;
		grid-template-columns: repeat(5, auto);
		grid-template-rows: repeat(2, auto);
		gap: unit(2.5);
		justify-content: center;
		width: 100vw;
		margin-top: unit(1);
		position: relative;
		left: calc(-1 * $PD-body);
		@include media(landscape) {
			gap: unit(3.5);
			left: calc(-1 * $PD-landscape);
		}
		@include media(tablet) {
			gap: unit(4);
			left: calc(-1 * $PD-landscape);
		}
		@include media(desktop-s) {
			width: 100%;
			gap: unit(5);
			left: auto;
		}
	}
}
