
//  ████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
//  ╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
//     ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
//     ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
//     ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
//     ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

.themes {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 32px 0 12px;
	&__bar {
		display: flex;
		align-items: center;
		gap: 16px;
		width: 250px;
		padding: 8px 20px;
		position: relative;
		left: -20px;
		text-decoration: none;
		font-family: $head-font;
		font-size: 20px;
		font-weight: bold;
		letter-spacing: .8px;
		color: $dark-color;
		border-radius: 0 40px 40px 0;
		background-color: $primary-color;
		box-shadow: 4px 8px 4px $dark-color;
	}
}