
//  ████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
//  ╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
//     ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
//     ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
//     ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
//     ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

.themes {
	display: flex;
	flex-direction: column;
	gap: unit(2.5);
	padding-top: unit(4);
	padding-bottom: unit(1.5);
	&__bar {
		display: flex;
		align-items: center;
		gap: unit(2);
		width: 260px;
		padding: unit(1) $PD-body;
		position: relative;
		left: calc(-1 * $PD-body);
		text-decoration: none;
		font-family: $head-font;
		text-transform: uppercase;
		color: $dark-color;
		border-radius: 0 unit(5) unit(5) 0;
		background-color: $primary-color;
		box-shadow: 4px 8px 4px get-opacity($dark-color, 1);
		@include text(20px, 700);
	}
}