
//  ████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
//  ╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
//     ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
//     ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
//     ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
//     ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

.themes {
	display: flex;
	flex-direction: column;
	gap: unit(2.5);
	padding-top: unit(4);
	padding-bottom: unit(1.5);
	@include media(tablet) {
		gap: unit(3);
		padding-top: unit(6);
		padding-bottom: unit(2);
	}
	@include media(desktop-s) {
		gap: unit(3);
		height: 120px;
		padding-top: unit(2);
		padding-bottom: 0;
		flex-direction: row;
		justify-content: center;
		// border-top: 1px solid $border-line-color;
	}
	&__bar {
		display: flex;
		align-items: center;
		gap: unit(2);
		width: 80vw;
		padding: unit(1) $PD-body;
		position: relative;
		left: calc(-1 * $PD-body);
		text-align: end;
		text-decoration: none;
		font-family: $head-font;
		text-transform: uppercase;
		color: $dark-color;
		transition: all 0.2s ease-in-out;
		border-radius: 0 unit(5) unit(5) 0;
		background-color: $primary-color;
		box-shadow: 4px 8px 4px get-opacity($dark-color, 1);
		-webkit-tap-highlight-color: transparent;
		@include text(20px, 700);
		@include media(landscape) {
			width: 65vw;
			padding: unit(1) $PD-landscape;
			left: calc(-1 * $PD-landscape);
		}
		@include media(tablet) {
			gap: unit(3);
			width: 60vw;
			padding: unit(1.5) $PD-landscape;
			left: calc(-1 * $PD-landscape);
			@include text(24px, 700);
		}
		@include media(desktop-s) {
			justify-content: center;
			gap: unit(2);
			width: 300px;
			height: unit(10.5);
			padding: unit(2) unit(3);
			left: auto;
			box-shadow: 0px 0px 0px;
			border-radius: unit(5);
			@include text(24px, 700);
		}
	}
	&__bar:active {
		box-shadow: inset 0px 4px 4px get-opacity($dark-color, 1), inset 0px -2px 8px get-opacity($variation-color, 1);
	}
}