//- ██╗███╗   ██╗██████╗ ███████╗██╗  ██╗
//- ██║████╗  ██║██╔══██╗██╔════╝╚██╗██╔╝
//- ██║██╔██╗ ██║██║  ██║█████╗   ╚███╔╝ 
//- ██║██║╚██╗██║██║  ██║██╔══╝   ██╔██╗ 
//- ██║██║ ╚████║██████╔╝███████╗██╔╝ ██╗
//- ╚═╝╚═╝  ╚═══╝╚═════╝ ╚══════╝╚═╝  ╚═╝

extend views/components/template.pug

block content
	main.main
		include views/modules/menu.pug
		include views/modules/shapes.pug
		include views/modules/discounts.pug
		include views/modules/statistics.pug