//- ██╗███╗   ██╗██████╗ ███████╗██╗  ██╗
//- ██║████╗  ██║██╔══██╗██╔════╝╚██╗██╔╝
//- ██║██╔██╗ ██║██║  ██║█████╗   ╚███╔╝ 
//- ██║██║╚██╗██║██║  ██║██╔══╝   ██╔██╗ 
//- ██║██║ ╚████║██████╔╝███████╗██╔╝ ██╗
//- ╚═╝╚═╝  ╚═══╝╚═════╝ ╚══════╝╚═╝  ╚═╝

extend views/components/template.pug

block content
	main.main
		include views/menu.pug
		include views/shapes.pug
		include views/discounts.pug
		include views/statistics.pug