//- ███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
//- ██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
//- █████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
//- ██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
//- ██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
//- ╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

//- En este apartado va todas las redes sociales y los demás proyectos del portafolio
