//- ███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
//- ██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
//- █████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
//- ██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
//- ██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
//- ╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

footer.footer
	.footer__logo
		figure.big__icon: a.big__icon--footer(href="#")
