//- ███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
//- ██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
//- █████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
//- ██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
//- ██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
//- ╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

footer.footer
	.footer__logo: img(src="assets/icons/logo-footer.svg" alt="Logo del footer")
	.footer__projects: +projects
	.footer__medias: +medias
