//- ███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
//- ██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
//- █████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
//- ██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
//- ██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
//- ╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

footer.footer
	.footer__logo
		figure.big__icon: i.big__icon--footer i
	.footer__projects: a(href="https://luisariza.github.io/portfolio" target="_blank") Portafolio
	.footer__medias: +medias
