//-  ██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗     ███████╗
//- ██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║     ██╔════╝
//- ██║  ███╗██║     ██║   ██║██████╔╝███████║██║     ███████╗
//- ██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║     ╚════██║
//- ╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗███████║
//-  ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝

- var projects = ["google_clone", "batatabit", "project_calories_counter"]
- var medias = ["linkedin", "github", "instagram", "blog"]
- var technologies = ["figma", "html", "css", "js", "npm", "pug", "sass", "webpack", "git", "github"]

mixin projects
	h3.portfolio: a(href="https://luisariza.github.io/portfolio" target="_blank") Portafolio
	ul
		each item in projects
			li.project: a(href="https://luisariza.github.io/" + item target="_blank")
				case item
					when "batatabit": | Batatabit
					when "google_clone": | Clon de Google
					when "project_calories_counter": | Contador de calorías
mixin medias
	ul
		each item in medias
			li: a(href="#")
				img.small-icon(src="assets/icons/" + item + ".svg" alt="Icon red")

mixin technologies
	figure.menu__technologies
		each item in technologies
			.tech: img.medium-icon(class= item src="assets/icons/" + item + ".svg" alt="Icon tech")

mixin themes
	.menu__themes
		a.theme(href='#shapes-container') #[img.icon-theme.shapes(src="assets/icons/shape.svg")] Figuras
		a.theme(href='#discounts-container') #[img.icon-theme.discounts(src="assets/icons/discount.svg")] Descuentos
		a.theme(href='#statistics-container') #[img.icon-theme.statistics(src="assets/icons/statistic.svg")] Estadisticas

mixin shape-box(title, shape)
	section(class= shape)
		h3.subsection= title
		p.description Ingresa las siguientes medidas:
		case shape
			when "square"
				form
					label Lado #[input#squareInput(type='number')] cm
					button.squareCalc(type='button') Calcular
			when "rectangle"
				form
					label Altura #[input#rectangleHeightInput(type='number')] cm
					label Base #[input#rectangleBaseInput(type='number')] cm
					button.rectangleCalc(type='button') Calcular
			when "triangle"
				ul
					li Si el triangulo tiene 2 lados iguales, la #[strong base] es el valor diferente a los 2 lados.
					li Si todos los lados del triangulo son desiguales, asegurate de colocar los valores de menor a mayor.
				form
					label Lado A #[input#triangleSideAInput(type='number')] cm
					label Lado B #[input#triangleSideBInput(type='number')] cm
					label Base #[input#triangleBaseInput(type='number')] cm
					button.triangleCalc(type='button') Calcular
			when "diamond"
				p La #[strong 1° diagonal] puede ser la menor o mayor.
				form
					label Lado #[input#diamondSideInput(type='number')] cm
					label 1° Diagonal #[input#diamondDiagonalInput(type='number')] cm
					button.diamondCalc(type='button') Calcular
			when "circle"
				form
					label Radio #[input#circleInput(type='number')] cm
					button.circleCalc(type='button') Calcular
		ul
			case shape
				when "triangle"
					li #[strong Tipo] "#[span#triangleType]"
					li #[strong Altura] #[span#triangleHeight 0]cm
				when "diamond"
					li #[strong 2° Diagonal] #[span#diamondDiagonal 0]cm
			if shape== "circle"
				li #[strong Circunferencia] #[span#circumference 0]cm
			else
				li #[strong Perimetro] #[span(id=shape + "Perimeter") 0]cm
			li #[strong Área] #[span(id=shape + "Area") 0]cm#[sup 2]

mixin discount-box
	section.discount
		form
			label Precio del producto $#[input#priceInput(type='number')]
			label Descuento #[input#discountInput(type='number')]%
			button.discountCalc(type='button') Calcular
			p #[strong Precio con descuento] $#[span#priceDiscount 0]

mixin discount-cupon-box
	section.discount-cupon
		.discount-cupon__tittle
			img.icon-cupon(src="assets/icons/cupon.png")
			h3.subsection Descuento con cupones
		p.description Calcula el descuento del producto aplicando el #[strong código]:
		.product
			.product-image imagen del producto
			h4.product-title Guitarra Fender Stratocaster American Standard
			p#priceCode $800
			p Aprovecha ahora y aplica hasta un 30% de descuento con código de referido
			form
				label Ingresa aquí el cogido de referido #[input#inputCode(type='text')]
				button.confirmCupon(type='button') Ingresar
				p#validation
		p: strong Códigos
		ul: em
			li awesomeGuitar30
			li awesomeGuitar20
			li awesomeGuitar15

mixin statistic-box
	form
		label: input#dataInput(type='number')
		button.insert(type='button') Ingresar
		button.remove(type='button') Eliminar
		button.statisticCalc(type='button') Calcular
	p Datos (#[span#data])
	ul
		li #[strong Promedio] #[span#mean 0]
		li #[strong Mediana] #[span#median 0]
		li #[strong Moda] #[span#mode 0]