//- ██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
//- ██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
//- ███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
//- ██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
//- ██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
//- ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝

header.header
	.header__logo
		figure.medium__icon: i.medium__icon--logo-header
	include navbar.pug
//- .header__about-me: a(href="https://www.linkedin.com/in/luisariza-dev/" target="_blank") Sobre mi