//- ██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
//- ██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
//- ███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
//- ██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
//- ██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
//- ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝

header.header
	.header__logo
		figure.medium__icon: i.medium__icon--header
	include navbar.pug