//- ██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
//- ██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
//- ███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
//- ██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
//- ██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
//- ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝

header.header
	include navbar.pug
	.logo: img(src="assets/icons/logo.svg" alt="Logo del la pagina")
	.about-me: a(href="https://www.linkedin.com/in/luisariza-dev/" target="_blank") Sobre mi