//- ███╗   ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗ 
//- ████╗  ██║██╔══██╗██║   ██║██╔══██╗██╔══██╗██╔══██╗
//- ██╔██╗ ██║███████║██║   ██║██████╔╝███████║██████╔╝
//- ██║╚██╗██║██╔══██║╚██╗ ██╔╝██╔══██╗██╔══██║██╔══██╗
//- ██║ ╚████║██║  ██║ ╚████╔╝ ██████╔╝██║  ██║██║  ██║
//- ╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

nav.header__navbar.navbar
	.navbar__portfolio: a.portfolio(href="https://luisariza.github.io/portfolio" target="_blank") Portafolio
	figure.navbar__medias: +medias