//- ███╗   ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗ 
//- ████╗  ██║██╔══██╗██║   ██║██╔══██╗██╔══██╗██╔══██╗
//- ██╔██╗ ██║███████║██║   ██║██████╔╝███████║██████╔╝
//- ██║╚██╗██║██╔══██║╚██╗ ██╔╝██╔══██╗██╔══██║██╔══██╗
//- ██║ ╚████║██║  ██║ ╚████╔╝ ██████╔╝██║  ██║██║  ██║
//- ╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

nav.header__navbar.navbar
	input#toggler(type="checkbox")
	label(for="toggler")
		figure.small__icon: i.small__icon--burger
	.navbar__menu
		+medias