//- ███╗   ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗ 
//- ████╗  ██║██╔══██╗██║   ██║██╔══██╗██╔══██╗██╔══██╗
//- ██╔██╗ ██║███████║██║   ██║██████╔╝███████║██████╔╝
//- ██║╚██╗██║██╔══██║╚██╗ ██╔╝██╔══██╗██╔══██║██╔══██╗
//- ██║ ╚████║██║  ██║ ╚████╔╝ ██████╔╝██║  ██║██║  ██║
//- ╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

nav.header__navbar#navbar
	#navbar__menuToggle
		input(type="checkbox")
		- for(var x = 0; x < 3; x++)
			span
		+medias