//- ███╗   ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗ 
//- ████╗  ██║██╔══██╗██║   ██║██╔══██╗██╔══██╗██╔══██╗
//- ██╔██╗ ██║███████║██║   ██║██████╔╝███████║██████╔╝
//- ██║╚██╗██║██╔══██║╚██╗ ██╔╝██╔══██╗██╔══██║██╔══██╗
//- ██║ ╚████║██║  ██║ ╚████╔╝ ██████╔╝██║  ██║██║  ██║
//- ╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

nav.header__navbar.navbar
	.navbar__projects: +projects
	figure.navbar__medias: +medias