include globals.pug

doctype html
html(lang="es")
  include head.pug
  body
    include header.pug
    block content
    script(type="module", src="src/js/shapes.js")
    script(type="module", src="src/js/discounts.js")
    script(type="module", src="src/js/statistics.js")